[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "~=1.15"
numpy = "*"
pandas = "==0.24.2"
sklearn = "*"

[requires]
python_version = "3.7"
